build/
.gradle
*.iws
*.pdf
*.txt
*.bat
.idea
*.csv
*.iml
*.project
*.jar
*.zip
*.log
*.pdf
*.xcf
data/
.classpath
.project
.settings/
bin/
out/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache